{% extends 'yoga/base.html' %}

{%load static%}

{% block content %}
<div class="col-sm-12">
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <p class="lead">
            <h4>Vision:</h4>
            Our vision is a world where everyone is fit and healthy.
            </p>
            <p class="lead">
            <h4>Mission:</h4>
            Our mission is to provide an environment to share the wisdom of yoga and 
            wellness of a person. We offer services that can be accessed by any age group,
            first-timers and even experienced professionals. We believe that performing yoga
            on a daily basis improves posture, increases flexibility, builds muscle strength, 
            boosts metabolism and keeps you away from various ailments. Research also suggests 
            that regular practice of yoga calms your body and improves a persons mental well-being.
            A happy body results in a peaceful mind and we try our best to provide you that.
            </p>
            <p class="lead">
            <h4>Motto:</h4>
            LIVE . LOVE . YOGA
            </p>
        </div>
    
    </div>
    
</div>

{% endblock content %} 