{% extends 'yoga/base.html' %}

{% comment %} Loading Static Files {% endcomment %}
{% load static %}   
{% block content %}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel= "stylesheet" href='{% static 'yoga/css/bootstrap.css' %}' />
<link rel= "stylesheet" href='{% static 'yoga/css/changepassword.css' %}' />
<title>change password </title>
</head>
<body>

<img src="{%  static 'yoga/images/changePassword.png' %}" style=" margin-left: 0;
   width: 450px;
   height: 450px;">
 
 <div class="col-sm-12" style="background:linear-gradient(-45deg,rgb(129, 178, 238),rgb(255,255,255),rgb(255,255,255),rgb(255,255,255));
                                width:750px; height: 450px;
                                align-items:center;padding:10px">

    <h4 class="my-3" style="text-align:center"> Change Password </h4>
    <form action="" method="POST" novalidate>
    {%csrf_token%}
        <div class='form-group' style="text-align:left;margin-top:70px">
           
                {%if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p> {{ error}}</p>
                    {% endfor %}
                {% endif %}

            {% for fm in form%}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
            {% endfor %}

            <input type="submit" class="btn btn-primary" value= ' Save ' style="justify-content:center"><br>


            <a href = "{% url 'login' %}"> Login </a>
         </div>     
     </form>
  <div>

</body>
{% endblock %}



