
<div class="col-md-4 col-md-offset-4" style="margin-top:10rem;">
<form action="/reset_password_form/" method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Password</label>
    <input name="password" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter password">
    <label for="exampleInputEmail1">Confirm Password</label>
    <input name="conf_password" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please confirm password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

  {% if messages %}
  {% for message in messages %} 
     <small {%if message.tags %} class="{{messages.tags}}" {% endif %}> {{message}} </small>
  {% endfor %}
  {% endif %}
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>