{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel= "stylesheet" href='{% static 'yoga/css/bootstrap.css' %}' />

{% comment %} <link rel= "stylesheet" href='{% static 'yoga/css/style.css' %}' /> {% endcomment %}
<link rel= "stylesheet" href='{% static 'yoga/css/signup.css' %}' />
<title>Signup form</title>
</head>
<body>
 
   
  <div class='col-sm-4'>
  
    <div class='form-content'>
          <div class='imgbx'>
               <img src="{%  static 'yoga/images/it.png' %}" >
          </div>
    <div class='Sign'>

    <h3 class="text alert"> Sign Up </h3>

    {% if messages %}
    {% for message in messages %}
      <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %}> {{message}} </p>
    {% endfor %}
    {% endif %}
    <form action="" method="POST" novalidate>
      {% csrf_token %}
    {% for fm in form%}
      <div class="form-group">
        {{fm.label_tag}} {{fm}} <small class='text-danger'>  {{fm.errors|striptags}} </small>
      </div>
    {% endfor %}
    
    <input type="submit" class="btn btn-primary" value= 'Submit'>
      {%if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p> {{ error}}</p>
        {% endfor %}
      {% endif %}
      <br>
      <a href = "{% url 'login' %}"> Login </a>
    </form>
    </div>
    </div>
  </div>

</body>
</html>