/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{

        min-height: 90vh;
        display: flex;
        padding: 30px;
    }


 .col-sm-12{
    position: relative;
    max-width: 800px;
    width: 85%;
    min-height: 400px;
    height: 80%;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2700px;
}

 .col-sm-12 .form-content{
  display: flex;
  align-items: center;
  
  width: 100%;
   }


   .col-sm-12 .form-content::before
   {
     content:'';
     background-image: url('../images/Picture.png'); /*use tree here*/
     background-size: contain;
     background-repeat: no-repeat;
     width:200px;
     height: 100px;
     display:inline-block;
   }
   